header {
    font-size: 2em;
    margin-top: 5%;
}


/****************************NAV BAR************************************/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 70px;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}


/*********NAV BAR END**********/

.logo-img {
    float: left;
}

.first-p {
    margin-top: 20%;
    font-size: 4rem;
    text-align: center;
}

.second-p,
.button {
    margin-top: 5%;
    text-align: center;
}

.first {
    /*
    color: #605A5C;
    color: #F63C3C;
    color: #726D6E;
*/
    color: #fff;
    background-color: #30282A;
    height: 100vh;
    width: 100%;
}


/*
.second {
    height: 100%
}
*/

.infinity,
.highlighted,
.service {
    height: 100vh;
    background: #eee;
}

.infinity {
    background: #F63C3C;
    color: #fff;
}

.ones {
    margin-top: 20%;
}

.wake {
    text-align: center;
    margin-top: 20%;
}

.white-one,
.white-three {
    background-color: #352D2F;
    height: 30vh;
}

.white-two {
    background-color: #30282A;
    height: 30vh;
}

.projo {
    text-align: center;
}

.historical,
.history,
.sagepic {
    height: 85vh;
}

.history {
    text-align: justify;
    padding-left: 10%;
}

.sagepic {
    margin-bottom: 5%;
}


/*
.icon-one {
    background-image: url("../imgs/2180.png");
}

.icon-two {
    background-image: url("../imgs/105870.png");
}

.icon-three {
    background-image: url("../imgs/mail.png");
}
*/

.icon-one,
.icon-two,
.icon-three,
.icon-four,
.icon-five,
.icon-six,
.icon-seven,
.icon-eight,
.icon-nine,
.icon-one-text,
.icon-two-text,
.icon-three-text,
.icon-four-text {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.icon-one-text,
.icon-two-text,
.icon-three-text {
    font-size: 1.8em;
    color: #F63C3C;
}

.icon-four-text {
    margin-top: 2%;
    font-size: 1.2em;
}