/****************************NAV BAR************************************/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 70px;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}


/*********NAV BAR END**********/

.logo-img {
    float: left;
}

.first-p {
    margin-top: 20%;
    font-size: 4rem;
    text-align: center;
}

.second-p,
.button {
    margin-top: 5%;
    text-align: center;
}

.first {
    /*
    color: #352D2F;
    color: #F63C3C;
    color: #726D6E;
*/
    color: #fff;
    background-color: #30282A;
    height: 100vh;
}

.white-one,
.white-three {
    background-color: #605A5C;
}

.white-two {
    background-color: #352D2F;
}

.sage-image {
    background-image: url("../imgs/sageBlackBigLogo.png");
}

.icon-one {
    background-image: url("../imgs/2180.png");
}

.icon-two {
    background-image: url("../imgs/105870.png");
}

.icon-three {
    background-image: url("../imgs/mail.png");
}

.icon-four {
    background-image: url("../imgs/exclusive.png");
}

.icon-five {
    background-image: url("../imgs/materialnretinadesign.png");
}

.icon-six {
    background-image: url("../imgs/friendlycustomer.png");
}

.icon-seven {
    background-image: url("../imgs/engaginguiux.png");
}

.icon-eight {
    background-image: url("../imgs/handcrafted.png");
}

.icon-nine {
    background-image: url("../imgs/fullyresponsive.png");
}